/********header pagina inicio********/
.header-1{
    background-image: url(../images/portadas/fondo1.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    filter: contrast(120%);

    .navbar{
        font-size:1.25rem;
        background-color: rgba(0, 0, 0, 0.808);


        .container-fluid{
            
            .icono__nav{
                margin-left: 1rem;
                width: 40px;
                height: 40px;
            }
            .flicker-in-1 {
                -webkit-animation: flicker-in-1 2s linear both;
                        animation: flicker-in-1 2s linear both;
            }
            
            .navbar-toggler{
                background-color: $colorprincipal;
            }
            .navbar-collapse{
                justify-content: flex-end;
                
                .navbar-nav{
                    margin-right: 1rem;
                    gap: 2rem;

                    .nav-item{
                        
                        .nav-link{                 
                            color: white;
    
                            &:hover{
                                color: $colorprincipal;
                            }
                        }
                        .link__inicio{
                            color: $colorprincipal;
                        }
                    }
                }
            }
        }
    }
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;

        .logo__imagen{
            width: 200px;
            border-radius: 50%;
            overflow: hidden;
            transition: 1.2s;

            &:hover{
                width: 250px;
                opacity: 1;
                filter: contrast(120%);
            }
        }
        .roll-in-left {
            -webkit-animation: roll-in-left 1s ease-out both;
                    animation: roll-in-left 1s ease-out both;
        }
    }
}
/************pagina de diseños**********/
.header-2{
    background-image: url(../images/portadas/fondo2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    background-position: center;

    .navbar{
        font-size:1.25rem;
        background-color: rgba(0, 0, 0, 0.808);

        .container-fluid{

            .icono__nav{
                margin-left: 1rem;
                width: 40px;
                height: 40px;
            }
            .flicker-in-1 {
                -webkit-animation: flicker-in-1 2s linear both;
                        animation: flicker-in-1 2s linear both;
            }
            .navbar-toggler{
                background-color: $colorprincipal;
            }
            .navbar-collapse{
                justify-content: flex-end;
                
                .navbar-nav{
                    margin-right: 1rem;
                    gap: 2rem;
                    

                    .nav-item{
                        
                        .nav-link{                 
                            color: white;
    
                            &:hover{
                                color: $colorprincipal;
                            }
                        }
                        .link__galeria{
                            color: $colorprincipal; 
                        }
                    }
                }
            }
        }
    }
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;

        .logo__imagen{
            width: 200px;
            border-radius: 50%;
            overflow: hidden;
            transition: 1.2s;

            &:hover{
                width: 250px;
                opacity: 1;
                filter: contrast(120%);
            }
        }
        .roll-in-left {
            -webkit-animation: roll-in-left 1s ease-out both;
                    animation: roll-in-left 1s ease-out both;
        }
    }
}
/**************header pagina de cuidados********/
.header-3{
    background-image: url(../images/portadas/fondo3.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    background-position: center;

    .navbar{
        font-size:1.25rem;
        background-color: rgba(0, 0, 0, 0.808);

        .container-fluid{

            .icono__nav{
                margin-left: 1rem;
                width: 40px;
                height: 40px;

            }
            .flicker-in-1 {
                -webkit-animation: flicker-in-1 2s linear both;
                        animation: flicker-in-1 2s linear both;
            }
            .navbar-toggler{
                background-color: $colorprincipal;
            }
            .navbar-collapse{
                justify-content: flex-end;
                
                .navbar-nav{
                    margin-right: 1rem;
                    gap: 2rem;

                    .nav-item{
                        
                        .nav-link{                 
                            color: white;
    
                            &:hover{
                                color: $colorprincipal;
                            }
                        }
                        .link__cuidados{
                            color: $colorprincipal; 
                        }
                    }
                }
            }
        }
    }
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;

        .logo__imagen{
            width: 200px;
            border-radius: 50%;
            overflow: hidden;
            transition: 1.2s;

            &:hover{
                width: 250px;
                opacity: 1;
                filter: contrast(120%);
            }
        }
        .roll-in-left {
            -webkit-animation: roll-in-left 1s ease-out both;
                    animation: roll-in-left 1s ease-out both;
        }
    }
}

/*********header pagina sobre nosotros********/
.header-4{
    background-image: url(../images/portadas/fondo6.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    background-position: center;

    .navbar{
        font-size:1.25rem;
        background-color: rgba(0, 0, 0, 0.808);

        .container-fluid{

            .icono__nav{
                margin-left: 1rem;
                width: 40px;
                height: 40px;
            }
            .flicker-in-1 {
                -webkit-animation: flicker-in-1 2s linear both;
                        animation: flicker-in-1 2s linear both;
            }
            .navbar-toggler{
                background-color: $colorprincipal;
            }
            .navbar-collapse{
                justify-content: flex-end;
                
                .navbar-nav{
                    margin-right: 1rem;
                    gap: 2rem;

                    .nav-item{
                        
                        .nav-link{                 
                            color: white;
    
                            &:hover{
                                color: $colorprincipal;
                            }
                        }
                        .link__sobrenosotros{
                            color: $colorprincipal; 
                        }
                    }
                }
            }
        }
    }
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;

        .logo__imagen{
            width: 200px;
            border-radius: 50%;
            overflow: hidden;
            transition: 1.2s;

            &:hover{
                width: 250px;
                opacity: 1;
                filter: contrast(120%);
            }
        }
        .roll-in-left {
            -webkit-animation: roll-in-left 1s ease-out both;
                    animation: roll-in-left 1s ease-out both;
        }
    }
}
/*********header pagina contactanos*********/
.header-5{
    background-image: url(../images/portadas/fondo5.0.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    background-position: center;

    .navbar{
        font-size:1.25rem;
        background-color: rgba(0, 0, 0, 0.808);

        .container-fluid{

            .icono__nav{
                margin-left: 1rem;
                width: 40px;
                height: 40px;
            }
            .flicker-in-1 {
                -webkit-animation: flicker-in-1 2s linear both;
                        animation: flicker-in-1 2s linear both;
            }
            .navbar-toggler{
                background-color: $colorprincipal;
            }
            .navbar-collapse{
                justify-content: flex-end;
                
                .navbar-nav{
                    margin-right: 1rem;
                    gap: 2rem;

                    .nav-item{
                        
                        .nav-link{                 
                            color: white;
    
                            &:hover{
                                color: $colorprincipal;
                            }
                        }
                        .link__contacto{
                            color: $colorprincipal; 
                        }
                    }
                }
            }
        }
    }
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        

        .logo__imagen{
            width: 200px;
            border-radius: 50%;
            overflow: hidden;
            transition: 1.2s;
            
            

            &:hover{
                width: 250px;
                opacity: 1;
                filter: contrast(120%);
            }
        }
        .roll-in-left {
            -webkit-animation: roll-in-left 1s ease-out both;
                    animation: roll-in-left 1s ease-out both;
        }
    }
}
@-webkit-keyframes roll-in-left {
    0% {
      -webkit-transform: translateX(-800px) rotate(-540deg);
              transform: translateX(-800px) rotate(-540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }
  @keyframes roll-in-left {
    0% {
      -webkit-transform: translateX(-800px) rotate(-540deg);
              transform: translateX(-800px) rotate(-540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }

@-webkit-keyframes flicker-in-1 {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0;
    }
    10.1% {
      opacity: 1;
    }
    10.2% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    20.1% {
      opacity: 1;
    }
    20.6% {
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    30.1% {
      opacity: 1;
    }
    30.5% {
      opacity: 1;
    }
    30.6% {
      opacity: 0;
    }
    45% {
      opacity: 0;
    }
    45.1% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    55% {
      opacity: 1;
    }
    55.1% {
      opacity: 0;
    }
    57% {
      opacity: 0;
    }
    57.1% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    60.1% {
      opacity: 0;
    }
    65% {
      opacity: 0;
    }
    65.1% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    75.1% {
      opacity: 0;
    }
    77% {
      opacity: 0;
    }
    77.1% {
      opacity: 1;
    }
    85% {
      opacity: 1;
    }
    85.1% {
      opacity: 0;
    }
    86% {
      opacity: 0;
    }
    86.1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes flicker-in-1 {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0;
    }
    10.1% {
      opacity: 1;
    }
    10.2% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    20.1% {
      opacity: 1;
    }
    20.6% {
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    30.1% {
      opacity: 1;
    }
    30.5% {
      opacity: 1;
    }
    30.6% {
      opacity: 0;
    }
    45% {
      opacity: 0;
    }
    45.1% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    55% {
      opacity: 1;
    }
    55.1% {
      opacity: 0;
    }
    57% {
      opacity: 0;
    }
    57.1% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    60.1% {
      opacity: 0;
    }
    65% {
      opacity: 0;
    }
    65.1% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    75.1% {
      opacity: 0;
    }
    77% {
      opacity: 0;
    }
    77.1% {
      opacity: 1;
    }
    85% {
      opacity: 1;
    }
    85.1% {
      opacity: 0;
    }
    86% {
      opacity: 0;
    }
    86.1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
